{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'avtorizstyle.css' %}">
</head>
<body>
    <div class="form">
        <h2>Вход в систему</h2>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Ваш логин" required>
            <input type="password" name="password" placeholder="Ваш пароль" required>
            <button type="submit">Войти</button>
        </form>
        <a href="{% url 'register'%}" class="back">Нет аккаунта? Зарегистрироваться</a>
        <a href="{% url 'service'%}" class="back">Войти под гостем</a>
    </div>
</body>
</html>