{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
    <link rel="stylesheet" href="{% static 'clientstyle.css' %}">
</head>
<header>
    <div class="pozitions">
        <div>
            <h2>Отель</h2>
        </div>
        <nav>
            <ul class="navigazia">
                <li><a href="{% url 'service' %}" class="silci">Главная</a></li>
                <li><a href="{% url 'user_logout' %}" class="disconect">Выйти</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <div class="container">
        <h1>Список клиентов</h1>

        <div class="clients-grid">
            {% for cliens in cliens %}
            <div class="client-card">
                <div class="client-header">
                    <h3 class="client-name">{{ cliens.fio }}</h3>
                </div>

                <div class="client-info">
                    <div class="info-row">
                        <span class="info-label">Телефон:</span>
                        <span>+7{{ cliens.phone }}</span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">Дата рождения:</span>
                        <span>{{ cliens.birthday }}</span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">Паспорт:</span>
                        <span>{{ cliens.document }}</span>
                    </div>

                    <div class="info-row">
                        <span class="info-label">Скидка:</span>
                        <span>{{ cliens.discount }}%</span>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

</body>
</html>