{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Номерной фонд</title>
    <link rel="stylesheet" href="{% static 'nomerstyle.css' %}">
</head>

<style>

    </style>
<header>
    <div class="pozitions">
        <div>
            <h2>Отель</h2>
        </div>
        <nav>
            <ul class="navigazia">
                <li><a href="{% url 'service' %}" class="silci">Главная</a></li>
                <li><a href="{% url 'user_logout' %}" class="disconect">Выйти</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
  <h1>Номерной фонд</h1>
  <form method="get">


    <select name="search">
      <option value="">All</option>
        {% for room in rooms %}
      <option value="{{ room.count_room }}" {% if filt == room.id %} selected {% endif %}> {{ room.count_room }} комнатные</option>
        {% endfor %}

    </select>

    <select name="cate">
      <option value="">All</option>
        {% for room in rooms %}
      <option value="{{ room.id }}" {% if filt == room.id %} selected {% endif %}> {{ room.category }}</option>
        {% endfor %}
    </select>
  <button type="submit">Применить</button>
    {% if filt %}
    <button type="submit"><a href="{% url 'nomerfond' %}" >Сброс</a></button>
    {% endif %}
</form>

      <div class="clients-grid">
        {% for rooms in rooms %}
          <div class="client-card">
                <div class="client-header">
                    <h3 class="client-name">{{ rooms.category }}</h3>
                </div>


            <div class="client-info">
                    <div class="info-row">
                        <span class="info-label">Этаж:</span>
                        <span>{{ rooms.floor }}</span>
                    </div>
            </div>
            <div class="info-row">
                        <span class="info-label">Количество комнат:</span>
                        <span>{{ rooms.count_room }}</span>
                    </div>
            <div class="info-row">
                        <span class="info-label">Количество спальных мест:</span>
                        <span>{{ rooms.sleep_count }}</span>
                    </div>
          </div>

        {% endfor %}
</body>
</html>

