{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Услуги отеля</title>
    <link rel="stylesheet" href="{% static 'servicstyle.css' %}">
</head>
<header>
    <div class="pozitions">
        <div>
            <h2>Отель</h2>
        </div>

        <nav>
            <ul class="navigazia">
                <li><a href="{% url 'clients' %}" class="silci">Клиенты</a></li>
                <li><a href="{% url 'nomerfond' %}"class="silci">Номерной фонд</a></li>
                <li><a href="{% url 'book_service' %}"class="silci">Запись на услугу</a></li>
                <li><a href="{% url 'user_logout' %}" class="disconect">Выйти</a></li>
            </ul>
        </nav>

    </div>
</header>

<body>
    <div style="text-align: center">
        <h1>Услуги отеля</h1>
        <p>Выберите дополнительные услуги для комфортного проживания</p>
    </div>
     <form method="GET" action="" class="search-form">
        <input type="text" name="search" placeholder="Введите название услуги..." value="{{ search_service }}">
        <button type="submit" class="search-btn">Найти</button>
         <div class="services">
        {% if search_service %}
            <h2>Результаты поиска по "{{ search_service }}":</h2>
        {% endif %}
         </div>
    <div class="services-grid">
        {% for service in services %}
        <div class="service-card">
            <div class="service-title">{{ service.title }}</div>
            <div class="service-price">{{ service.price }} ₽</div>
            <div class="service-description">{{ service.description }}</div>
        </div>
        {% endfor %}
    </div>
</body>
</html>